#outerbox{
    width: 98.6vw;
    overflow: hidden;
   z-index: -100;
    height: 695px;
    border: 2px solid rgb(235, 245, 33);
}
#sliderbox{
    /* overflow: hidden; */
    position: relative;
    width: 5720px;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}
#sliderbox img{
    width: 1430px;
    float: left;
}
@keyframes slide{
    0%{
        left:0px;
    }
    20%{
        left: 0px;
    }
    25%{
        left: -1430px;
    }
    45%{
        left: -1430px;
    }
    50%{
        left: -2860px;
    }
    70%{
        left: -2860px;
    }
    75%{
        left: -4290px;
    }
    95%{
        left: -4290px;
    }
    100%{
        left: -5720px;
    }
}
